<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration</a>
			</div>
		</div>
	</nav>

<br>
<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				
                    <div th:if="${message != null}">
                        <div class="alert alert-info">You've successfully registered
                            to our application!</div>
                    </div>

				<h1>Registration</h1>

				<form  th:action="@{/registration}"  method="post" role="form" th:object="${user}" >
                    <div class="form-group">
                        <label  class="control-label" for="fullname">Fullname:</label>
                        <input class="form-control" th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Enter your fullname" required>
                    </div>
                    
                    <div class="form-group">
                        <label  class="control-label" for="email">Email:</label>
                        <input class="form-control" th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    
                    <div class="form-group">
                        <label  class="control-label" for="password">Password:</label>
                        <input class="form-control" th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
     <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
    <div class="container">
        <div class="message" th:if="${message != null}">
           [[${message}]]
        </div>
        <h2>Registration Form</h2>
        <form  th:action="@{/registration}"  method="post" role="form" th:object="${user}" >
            <div class="form-group">
                <label for="fullname">Fullname:</label>
                <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Enter your fullname" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <input type="submit" value="Register">
        </form>
        
    </div>
</body>
</html>-->
